.App {
    display: grid;
    grid-template-columns: 700fr 200fr;
}

.diplomPage {
    padding: 15px;
    width: 620px;
    height: 877px;
    border: 2px solid teal;
    align-items: center;
}

.field {
    border: 2px solid teal;
}